<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.7/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-LN+7fdVzj6u52u30Kp6M/trliBMCMKTyK833zpbD+pXdCLuTusPj697FH4R/5mcr" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/htmx.org@2.0.6/dist/htmx.min.js"></script>
    <title>Task Manager</title>
</head>
<body>
    <div class="row">
        <div class="col">
            <h2>Tasks</h2>
            <div id="task-list" hx-get="/todoList" hx-trigger="load"> </div>
                <!-- Task list will be loaded here -->
        </div>
        <div class="col">
            <h2>Task Forms</h2>
        </div>
    </div>
    
</body>
</html>